@keyframes loading-dark {
  0% {
    background-color: rgba(0, 0, 0, .8)
  }

  100% {
    background-color: rgba(0, 0, 0, .1)
  }
}

@keyframes loading-light {
  0% {
    background-color: rgba(255, 255, 255, .8)
  }

  100% {
    background-color: rgba(255, 255, 255, .1)
  }
}

.ideabosque-iframe-loading span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #111;
  border-radius: 50%;
  animation: loading .4s infinite alternate;
  animation: loading-dark .4s infinite alternate
}


.ideabosque-iframe {
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  border: none;
  box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, .25);
}